.add-list {
  font-family: "Poppins", sans-serif;
  &__text {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 1.5rem;
      padding: 0 0.25rem;
    }
  }

  &__label {
    border: 1px solid #fefefe;
    height: 2.25rem;
    border-radius: 5px;
    // padding: 0.5rem 1rem;
    display: flex;
    width: 20rem;
    transition: 0.3s all;
    flex-direction: column;
    overflow: hidden;

    // padding: 0.5rem 1rem;
  }

  &__checkbox:checked ~ &__label {
    height: 7rem;

    &__text {
    }
  }
}
